@charset "UTF-8";

body{font-family:arial;}
body{background-color:rgb(36, 36, 36);}
h1{color: white;}
h1{text-align: center;}
div{text-align: center;}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: rgb(139, 139, 139);
}
